
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.flexible-area {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 40%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.name-color {
  color: orange;
}
.link-button {
  text-decoration: none;
  background-image: radial-gradient(orange, tomato);
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}