body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.introduction-area {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.flexible-area {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 40%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.name-color {
  color: orange;
}
.link-button {
  text-decoration: none;
  background-image: radial-gradient(orange, tomato);
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.future-area {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experiences-area {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experiences-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 15px;
  border-radius: 8px;
  box-shadow: 10px 10px 50px gray;
}

#full-stack-developer {
  border-left: 7px solid tomato;
}
#beginner-developer {
  border-left: 7px solid blue;
}
