

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
section {
  margin-bottom: 150px;
}
.introduction-area {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.flexible-area {
  display: flex;
  width: 80%;
  margin-left: 5%;
}
.flexible-area img {
  width: 100%;
}
.flexible-area span {
  color: orange;
}
.flexible-area h1 {
  font-size: 50px;
}
.flexible-area h3 {
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
}
